extends layout 
 
block content 
  style.  
    h1{
        color:white;
    }
    body{
        background:url('https://wallpapercave.com/wp/wp2015683.jpg');
        background-size:cover;
        background-repeat:no-repat;
    }
    label{
        font-size:15px;
    }
    form{
        padding:20px;
        position:fixed;
        top:50%;
        background:rgba(0,0,0,0.5);
        lefT:50%;
        transform:translate(-50%,-50%);
    }
  form(id='EarphoneForm', action="/resource/earphones/", method="POST") 
    h1= title

    div.form-group 
        label.earphoneAttr(for='Name') Earphone Name
        input#Name(type='text', name='Name') 
    div.form-group 
        label.earphoneAttr(for='Manufacture_Location') Earphone Manufacture_Location 
        input#Manufacture_Location(type='text', name='Manufacture_Location') 
    div.form-group 
        label.earphoneAttr(for='price') Earphone price 
        input#price(type='number', name='price') 
    center
        br
        input(type="submit" class="btn btn-primary")  
 
  script. 
    document.forms['EarphoneForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 